<div class="card">
    <div class="card-header">
        <h2>Register</h2>
    </div>
    <form class="card-body" id="registration-form">
        <div>
            <label for="username-register">Username</label>
            <input id="username-register" type="text" />
        </div>
        <div>
            <label for="password-register">Password</label>
            <input id="password-register" type="password" />
        </div>
        <button class="btn" id="registration-btn" type="submit">Submit Registration</button>
        <span>If you have already registered, then Login <a href="/login">here</a></span>
    </form>
</div>
<script src="/js/register.js"></script>